# Plant Flower Iris Detection

## here we have used Decision Tree Classifier

### it is giving 92 percent accuracy

In [2]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [3]:
dataset=pd.read_csv("/Users/nikhil/Documents/LGMVIP data science Internship/Iris Flowers Classification ML Project/iris.data", sep=',')

In [60]:
dataset.columns=["sepal_l","sepal_w","petal_l","petal_w","flower"]
print(dataset)
print(dataset.describe)
print(dataset.head)

     sepal_l  sepal_w  petal_l  petal_w          flower
0        4.9      3.0      1.4      0.2     Iris-setosa
1        4.7      3.2      1.3      0.2     Iris-setosa
2        4.6      3.1      1.5      0.2     Iris-setosa
3        5.0      3.6      1.4      0.2     Iris-setosa
4        5.4      3.9      1.7      0.4     Iris-setosa
..       ...      ...      ...      ...             ...
144      6.7      3.0      5.2      2.3  Iris-virginica
145      6.3      2.5      5.0      1.9  Iris-virginica
146      6.5      3.0      5.2      2.0  Iris-virginica
147      6.2      3.4      5.4      2.3  Iris-virginica
148      5.9      3.0      5.1      1.8  Iris-virginica

[149 rows x 5 columns]
<bound method NDFrame.describe of      sepal_l  sepal_w  petal_l  petal_w          flower
0        4.9      3.0      1.4      0.2     Iris-setosa
1        4.7      3.2      1.3      0.2     Iris-setosa
2        4.6      3.1      1.5      0.2     Iris-setosa
3        5.0      3.6      1.4      0.2     Iris-setosa
4        5.4      3.9      1.7      0.4     Iris-setosa
..       ...      ...      ...      ...             ...
144      6.7      3.0      5.2      2.3  Iris-virginica
145      6.3      2.5      5.0      1.9  Iris-virginica
146      6.5      3.0      5.2      2.0  Iris-virginica
147      6.2      3.4      5.4      2.3  Iris-virginica
148      5.9      3.0      5.1      1.8  Iris-virginica

[149 rows x 5 columns]>
<bound method NDFrame.head of      sepal_l  sepal_w  petal_l  petal_w          flower
0        4.9      3.0      1.4      0.2     Iris-setosa
1        4.7      3.2      1.3      0.2     Iris-setosa
2        4.6      3.1      1.5      0.2     Iris-setosa
3        5.0      3.6      1.4      0.2     Iris-setosa
4        5.4      3.9      1.7      0.4     Iris-setosa
..       ...      ...      ...      ...             ...
144      6.7      3.0      5.2      2.3  Iris-virginica
145      6.3      2.5      5.0      1.9  Iris-virginica
146      6.5      3.0      5.2      2.0  Iris-virginica
147      6.2      3.4      5.4      2.3  Iris-virginica
148      5.9      3.0      5.1      1.8  Iris-virginica

[149 rows x 5 columns]>

In [61]:
# dataset=dataset.iloc[0:,0:]
# dataset =pd.DataFrame(dataset,columns=features)
# dataset

In [62]:
flowers={}
flowers_=np.array(dataset['flower'].unique())
for i in range (0,3):
      flowers[i]= flowers_[i]

In [63]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()
dataset['flower']=lb.fit_transform(dataset['flower'])

In [64]:
x=pd.DataFrame(dataset.iloc[:,:4],)

y=pd.DataFrame(dataset.iloc[:,-1])

In [65]:
y

     flower
0         0
1         0
2         0
3         0
4         0
..      ...
144       2
145       2
146       2
147       2
148       2

[149 rows x 1 columns]

In [66]:
x

     sepal_l  sepal_w  petal_l  petal_w
0        4.9      3.0      1.4      0.2
1        4.7      3.2      1.3      0.2
2        4.6      3.1      1.5      0.2
3        5.0      3.6      1.4      0.2
4        5.4      3.9      1.7      0.4
..       ...      ...      ...      ...
144      6.7      3.0      5.2      2.3
145      6.3      2.5      5.0      1.9
146      6.5      3.0      5.2      2.0
147      6.2      3.4      5.4      2.3
148      5.9      3.0      5.1      1.8

[149 rows x 4 columns]

In [67]:
y

     flower
0         0
1         0
2         0
3         0
4         0
..      ...
144       2
145       2
146       2
147       2
148       2

[149 rows x 1 columns]

In [68]:
from sklearn.model_selection import train_test_split

In [69]:
X_train,X_test,Y_train,Y_test=train_test_split(x,y,test_size=0.33,random_state=1)

In [70]:
X_train

     sepal_l  sepal_w  petal_l  petal_w
138      6.9      3.1      5.4      2.1
118      6.0      2.2      5.0      1.5
125      6.2      2.8      4.8      1.8
85       6.7      3.1      4.7      1.5
100      5.8      2.7      5.1      1.9
..       ...      ...      ...      ...
133      6.1      2.6      5.6      1.4
137      6.0      3.0      4.8      1.8
72       6.1      2.8      4.7      1.2
140      6.9      3.1      5.1      2.3
37       4.4      3.0      1.3      0.2

[99 rows x 4 columns]

In [71]:
print(X_train.shape)
print(X_test.shape)

(99, 4)
(50, 4)

In [72]:
from sklearn.tree import DecisionTreeClassifier

In [73]:
# from sklearn.linear_model import LinearRegression
# from sklearn.linear_model import LogisticRegression

# from sklearn.svm import SVC
# from sklearn.neighbors import KNeighborsClassifier

In [74]:
# from sklearn.model_selection import cross_val_score
# from sklearn.model_selection import StratifiedKFold

In [75]:
model=DecisionTreeClassifier(criterion="gini",max_depth=2,random_state=None)
model.fit(X_train,Y_train)

DecisionTreeClassifier(max_depth=2)

In [76]:
from sklearn.metrics import accuracy_score

In [77]:
Y_predict=model.predict(X_test)

In [78]:
Y_predict

array([2, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 2, 2,
       0, 2, 2, 0, 2, 0, 1, 2, 2, 1, 0, 2, 0, 0, 2, 2, 0, 2, 2, 2, 2, 0,
       0, 0, 1, 0, 0, 2])

In [79]:
result=accuracy_score(Y_test,Y_predict)

In [80]:
result

0.92

In [81]:
input_values=[]
sepal_length=float(input("Enter sepal length: "))
sepal_width=float(input("Enter sepal width: "))
petal_length=float(input("Enter petal length: "))
petal_width=float(input("Enter petal width: "))
input_values=[sepal_length,sepal_width,petal_length,petal_width]

In [82]:
input_values=np.array(input_values).reshape(1,-1)

In [83]:
predictions=model.predict(input_values)
print(flowers[predictions[0]])

Iris-versicolor

In [84]:
flowers

{0: 'Iris-setosa', 1: 'Iris-versicolor', 2: 'Iris-virginica'}